# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Unity Space Shooter Pro.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Unity Space Shooter Pro\.idea\.idea.Unity Space Shooter Pro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
